{% extends 'back/base.html.twig' %}

{% block content %}
    <center>
    <h1>Ajout du livre</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}
    {{ form_row(form.image) }}
    </center>
    <ul>
        <li>
            <a href="{{ path('livre_index') }}">retour</a>
        </li>
    </ul>

{% endblock %}
